<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | AWS Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>
<body>
    
    <div class="main-content">
        <div class="row test">
            <div class="col-md-2 left">
                <img id="logo" src="{{ url_for('static', filename='img/ocer.png') }}">
                <div class="container">
                    <hr>
                     <div class="vertical-menu">
                        <a href="{{ url_for('index') }}">HOME</a>
                        <a href="{{ url_for('ec2') }}">EC2</a>
                        <a href="{{ url_for('rds') }}">RDS</a>
                        <a href="{{ url_for('iam') }}">IAM</a>
                        <a href="{{ url_for('lb') }}">LOAD BALANCERS</a>
                        <a href="{{ url_for('vpc') }}">VPCs</a>
                        <a href="{{ url_for('sec_groups') }}">SECURITY GROUPS</a>
                    </div>
                    <div id="version-div">
                        <hr>
                        <p id="version">Version: 1.0.0</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-10 right">
                <div class="container">
                    <h5 id="moto">AWS Inventory</h5>
                    <hr>
                    <div class="main">
                        <h5>{{ headline }}</h5>
                        <p>{{ body }}</p>
                        <pre>{{ body2 }}</pre>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!--
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li><a href="{{ url_for('index') }}">HOME</a></li>
                        <li><a href="{{ url_for('ec2') }}">EC2</a></li>
                        <li><a href="{{ url_for('rds') }}">RDS</a></li>
                        <li><a href="{{ url_for('iam') }}">IAM</a></li>
                        <li><a href="{{ url_for('lb') }}">LOAD BALANCERS</a></li>
                        <li><a href="{{ url_for('vpc') }}">VPCs</a></li>
                        <li><a href="{{ url_for('sec_groups') }}">SECURITY GROUPS</a></li>
                    </ul>
                </div>
              
                <div class="col-md-9">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                        jkhgjk
                </div>
            </div>
        </div>
    </div>-->
</body>
</html>
